{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Seasonal Analytics</title>
    
    <!-- core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
   
   <!-- Graphs Charts -->
		<script type="text/javascript"
			src="http://www.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript"
			src="http://www.amcharts.com/lib/3/serial.js"></script>
		<script type="text/javascript"
			src="http://www.amcharts.com/lib/3/themes/light.js"></script>
			<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
			
			
			<script type="text/javascript">
			var station_details = [];
			var count = 0;
			var jsonData = '{{station_details | safe}}';
			console.log("Station name", jsonData);
			
			var result = $.parseJSON(jsonData);
			var city_names = $.parseJSON('{{city_names | safe}}');
			
			//console.log("json obect ",JSON.stringify(result));
			$.each(result,function(k,v){
				
				console.log("loop data : ", v);
				console.log("loop data array: ", v.result[0].total);
				console.log("loop data array: ", v.result[1].total);

				count = count +1;
				station_details.push(
					{
						"country" : city_names[k],
						"Customer" : v.result[0].total,
						"Subscriber" : v.result[1].total
					});
				})

				
				
				var chart = AmCharts.makeChart("chartdiv", {
				    "theme": "light",
				    "type": "serial",
				    "dataProvider": station_details	,
				    "valueAxes": [{
							        "stackType": "3d",
							        
							        "position": "left",
							        
							        "title": "Number of Bike Users (Customers/Subscribers)",
							    }],
							    "startDuration": 1,
							    "graphs": [{
							        "balloonText": "Customer in [[category]]: <b>[[value]]</b>",
							        "fillAlphas": 0.9,
							        "lineAlpha": 0.2,
							        
							        "title": "Customers - 36 hours Users",
							        "type": "column",
							        "valueField": "Customer"
							    }, {
							        "balloonText": "Subscriber in [[category]]: <b>[[value]]</b>",
							        "fillAlphas": 0.9,
							        "lineAlpha": 0.2,
							        
							        "title": "Subscribers - Annual Users (12 months)",
							        "type": "column",
							        "valueField": "Subscriber"
							    }],
							    "plotAreaFillAlphas": 0.1,
							    "depth3D": 60,
							    "angle": 30,
							    
							    "categoryField": "country",
							    "categoryAxis": {
							        "gridPosition": "start",
							        "labelRotation" : 60
							        	
							    },
							    "legend" :{
							    	"markerType": "square",
								 	"position" :"top"
							    },
							    "export": {
							    	"enabled": true,
							        "libs": {
							         	"path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
							      	}
							     }
							});
							
			
							jQuery('.chart-input').off().on('input change',function() {
								var property	= jQuery(this).data('property');
								var target		= chart;
								chart.startDuration = 0;

								if ( property == 'topRadius') {
									target = chart.graphs[0];
							      	if ( this.value == 0 ) {
							          this.value = undefined;
							      	}
								}

								target[property] = this.value;
								chart.validateNow();
							});
							 
						    
						    
							
							
</script>
    
   
</head><!--/head-->

<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>+1 669-300-8317</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index"><img src="{% static 'images/recreation.png' %}" height="90" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/portfolio">Services</a></li>
                        <li><a href="/bikedock">Bike Dock</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/generate_station_details">Customer Analysis</a></li>
                                <li><a href="/seasondock"  class="active">Season wise Sale</a></li>
                                <li><a href="/topstations">Top Start Stations</a></li>
                            </ul>
                        </li>
                        <li><a href="/predictsale">Prediction</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/contact-us">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->

	<section id="feature" class="transparent-bg">
		<div class="container">
			<div class="center wow fadeInDown">

				<h2>Customer Analysis</h2>
				<p class="lead">Number of Bike Users in particular City</p>
				
				<hr>
				<form action="/customeranalysis" type="POST">
				<h4>
					City Name: <select id="city" name="city">
						<option value="San Jose" id="city" name="city">San Jose</option>
						<option value="San Francisco" id="city" name="city">San
							Francisco</option>
						<option value="Redwood City" id="city" name="city">Redwood
							City</option>
						<option value="Mountain View" id="city" name="city">Mountain
							View</option>
						<option value="Palo Alto" id="city" name="city">Palo Alto</option>
					</select>
				</h4>
				<input type="submit" name="submit">
			</form>
			</div>
	
			<div id="chartdiv"></div>
			
		</div>
	</section>
	
	<!--/#feature-->


	<section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are hiring</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Adipisicing Elit</a></li>
                            <li><a href="#">Eiusmod</a></li>
                            <li><a href="#">Tempor</a></li>
                            <li><a href="#">Veniam</a></li>
                            <li><a href="#">Exercitation</a></li>
                            <li><a href="#">Ullamco</a></li>
                            <li><a href="#">Laboris</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Team Matrix</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
</body>
</html>