{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Seasonal Analytics</title>
    
    <!-- core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
    
<style>
#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}		



</style>    
    
   <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
     
    <script type="text/javascript">
    var chart;
    var legend;
    var selected;
    var res_holiday = $.parseJSON('{{holiday | safe}}');
    var res_workday = $.parseJSON('{{workday | safe}}');
 	
    var sum_holiday=0;
   	var sum_workday = 0;
   	
    $.each(res_holiday,function(key,value){
    	if(key == 'result'){
    		for(var i = 0; i<=3;i++){
    			if(value[i]._id==1){
    				value[i]._id = 'Spring';
    				sum_holiday = sum_holiday + value[i].total;
    			}
    			else if(value[i]._id==2){
    				value[i]._id = 'Summer';
    				sum_holiday = sum_holiday + value[i].total;
    			}
    			else if(value[i]._id==3){
    				value[i]._id = 'Fall';
    				sum_holiday = sum_holiday + value[i].total;
    			}
    			else if(value[i]._id==4){
    				value[i]._id = 'Winter';
    				sum_holiday = sum_holiday + value[i].total;
    			}
    		}	
    	}
    })
    
     $.each(res_workday,function(key,value){
    	if(key == 'result'){
    		for(var i = 0; i<=3;i++){
    			if(value[i]._id==1){
    				value[i]._id = 'Spring';
    				sum_workday = sum_workday + value[i].total;
    			}
    			else if(value[i]._id==2){
    				value[i]._id = 'Summer';
    				sum_workday = sum_workday + value[i].total;
    			}
    			else if(value[i]._id==3){
    				value[i]._id = 'Fall';
    				sum_workday = sum_workday + value[i].total;
    			}
    			else if(value[i]._id==4){
    				value[i]._id = 'Winter';
    				sum_workday = sum_workday + value[i].total;
    			}
    		}	
    	}
    })
 
   var arr = [];
   res_holiday.type = "Holiday";
   res_holiday.color = "#17bfc2";
   res_holiday.sum = sum_holiday;
   
   res_workday.type = "Workingday";
   res_workday.color = "#c11b17";
   res_workday.sum = sum_workday;
   
   arr.push(res_holiday);
   arr.push(res_workday);
    
   
    console.log("chart data :",JSON.stringify(arr));
       // console.log("count :",count);
   	
    
   	function generateChartData(){
   		var chartData = [];
   		for (var i=0;i<arr.length;i++){
   			if(i == selected){
   				for (var j=0;j<arr[i].result.length;j++){
   					chartData.push({
   						type: arr[i].result[j]._id,
   						sum: arr[i].result[j].total,
   						color: arr[i].color,
   						pulled: true
   						
   						
   					});
   				}
   				
   			}
   			else{
   				
   				chartData.push({
   					type: arr[i].type,
   					sum: arr[i].sum,
   					color: arr[i].color,
   					id: i
   				});
   			}
   		}
   		return chartData;
   	}
   	
 AmCharts.ready(function(){
	 chart = new AmCharts.AmPieChart();
	 chart.dataProvider = generateChartData();
	 chart.titleField = "type";
	 chart.valueField = "sum";
	 chart.fontSize = 12;
	 chart.outlineColor = "#000000";
	 
	 chart.outlineAlpha = 0.9;
	 chart.outlineThickness = 1;
	 chart.colorField = "color";
	 chart.depth3D = 25;
	 chart.angle = 30;
	 chart.pulledField = "pulled";
	 
	 
	 chart.addTitle("Holiday and Working day Sales Analysis");
	 
	 chart.addListener("clickSlice", function (event) {
	        if (event.dataItem.dataContext.id != undefined) {
	            selected = event.dataItem.dataContext.id;
	        }
	        else {
	            selected = undefined;
	        }
	        chart.dataProvider = generateChartData();
	        chart.validateData();
	    });
	 var legend = new AmCharts.AmLegend();
	 	legend.markerType = "bubble";
	 	legend.position = "right";
	 	chart.addLegend(legend); 
	    
	    chart.write("chartdiv");
	 
 });  
 
    
    </script>
</head><!--/head-->

<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>+1 669-300-8317</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index"><img src="{% static 'images/recreation.png' %}" height="90" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/portfolio">Services</a></li>
                        <li><a href="/bikedock">Bike Dock</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/generate_station_details">Customer Analysis</a></li>
                                <li><a href="/seasondock"  class="active">Season wise Sale</a></li>
                                <li><a href="/topstations">Top Start Stations</a></li>
                            </ul>
                        </li>
                        <li><a href="/predictsale">Prediction</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/contact-us">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->

    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Seasonal Analytics</h2>
                
				<hr>
            <div id="chartdiv" ></div>																																					
            </div>
        </div><!--/.container-->
    </section><!--/#feature-->


    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are hiring</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Adipisicing Elit</a></li>
                            <li><a href="#">Eiusmod</a></li>
                            <li><a href="#">Tempor</a></li>
                            <li><a href="#">Veniam</a></li>
                            <li><a href="#">Exercitation</a></li>
                            <li><a href="#">Ullamco</a></li>
                            <li><a href="#">Laboris</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Team Matrix</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
</body>
</html>